.cart-container {
  display: flex;
}
#cart-empty-msg {
  text-align: center;
}
.cart-card {
  width: 400px;
  height: 190px;
  border: 1px solid black;
  margin: 1rem;
  display: flex;
  border-radius: 1rem;
  background-color: #3e70dc;
  color: white;
}

img {
  width: 150px;
  height: 190px;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem;
}
.cart-info {
  margin: 0.5rem;
}
.cart-info div {
  margin: 0.5rem;
}
.cart-original-price {
  text-decoration: line-through;
}
.cart-btn button {
  margin: 0.2rem;
  border-radius: 0.3rem;
  border: 1px solid white;
  padding: 0.2rem;
  background-color: #3e70dc;

  color: white;
}
.cart-btn button:hover {
  background-color: #112b63;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.cart-checklist-info {
  width: 250px;
  height: 170px;
  background-color: #3e70dc;
  margin: 1rem;
  border-radius: 1rem;
  color: white;
  padding: 0.4rem;
}

.cart-checklist-info div {
  margin: 0.5rem;
}
.cart-checklist-info button {
  display: block;
  margin: auto;
  padding: 0.3rem 0.5rem;
  color: white;
  background-color: #3e70dc;
  border: 2px solid white;
  border-radius: 0.3rem;
}

.cart-checklist-info button:hover {
  background-color: #0f317a;
  cursor: pointer;
}
