.product-detail {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.product-detail-card {
  border-radius: 0.3rem;
  background-color: white;
  color: black;
  width: 280px;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-detail-card div {
  margin-bottom: 0.2rem;
}

.product-detail-img img {
  width: 280px;
  /* height: 350px; */
  object-fit: cover;
  border-radius: 0.3rem;
}

.title-detail {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--focus-color);
}

.price-detail {
  display: flex;
}
.price-detail div {
  margin-right: 0.5rem;
}

#price-to-cross {
  text-decoration: line-through;
  color: gray;
}

#price-percentage {
  font-size: 1.4rem;
  color: var(--focus-color);
  font-weight: bold;
}
.span-bold {
  font-weight: bold;
}

.btn-detail {
  display: flex;
  justify-content: space-around;
}

.btn-detail button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  border: 2px solid white;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn-detail button:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--focus-color);
}
.out-of-stock {
  text-align: center;
  font-size: 1.7rem;
  color: red;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .product-detail-card {
    margin: auto;
    margin-top: 10rem;
    display: flex;
    width: 700px;
    /* height: 350px; */
    padding: 1rem;
    font-size: 1.4rem;
  }
  .product-detail-info {
    padding-left: 1rem;
  }
  .title-detail {
    font-size: 2rem;
    font-weight: 700;
    color: var(--focus-color);
  }
  .out-of-stock {
    margin-top: 0.5rem;
    font-size: 2rem;
  }
  .btn-detail {
    display: flex;
    flex-direction: column;
  }
  .btn-detail button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: none;
    border: 2px solid white;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  #price-percentage {
    font-size: 1.6rem;
  }
}
