.signUp-card {
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  background-color: rgb(62, 112, 220);
  width: 15rem;
  color: white;
  text-align: center;
}
input {
  border-radius: 0.2rem;
  padding: 0.2rem;
  border: none;
  outline: none;
}
.btn-signUp {
  margin: 0.5rem;
}

.btn-signUp button {
  background-color: white;
  color: rgb(62, 112, 220);
  border: none;
  margin: 0rem 0.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid white;
}
.btn-signUp button:hover {
  color: white;
  background-color: rgb(6, 72, 214);
  border: 1px solid black;
  cursor: pointer;
}

.signUp a {
  padding-left: 0.2rem;
  color: white;
  font-size: 1.2rem;
}

.signup-icon {
  position: relative;
}
.signup-icon .fa-solid {
  position: absolute;
  bottom: 0.4rem;
  right: 2.2rem;
  color: rgb(6, 72, 214);
}

@media screen and (min-width: 768px) {
  .signUp-card {
    margin-top: 12rem;
  }
}
