:root {
  --primary-color: rgb(62, 112, 220);
  --focus-color: rgb(32, 91, 219);
  --card-color: rgb(255, 255, 255);
}
.nav-container {
  height: 103px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;

  background-color: black;

  color: white;
}
.footer-info {
  padding: 3rem;
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .nav-container {
    height: 60px;
  }
}
